<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdvon.nmp.mapper.PermissionplanSysroleMapper">
    <resultMap id="BaseResultMap" type="com.hdvon.nmp.vo.PermissionplanSysroleVo">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="permissionplan_id" jdbcType="VARCHAR"  property="permissionplanId" />
        <result column="sysrole_id" jdbcType="VARCHAR"  property="sysroleId" />
    </resultMap>

    <sql id="Customer_Column_List">
        t.id,t.permissionplan_id,t.sysrole_id
    </sql>

</mapper>