<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdvon.nmp.mapper.ScreenTemplateCellinfoMapper">
  <resultMap id="BaseResultMap" type="com.hdvon.nmp.vo.ScreenTemplateCellinfoVo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="template_id" jdbcType="VARCHAR"  property="templateId" />
    <result column="row_no" jdbcType="INTEGER"  property="rowNo" />
    <result column="row_span" jdbcType="INTEGER"  property="rowSpan" />
    <result column="col_no" jdbcType="INTEGER"  property="colNo" />
    <result column="col_span" jdbcType="INTEGER"  property="colSpan" />
    <!--<result column="create_time" jdbcType="TIMESTAMP"  property="createTime" />-->
    <!--<result column="update_time" jdbcType="TIMESTAMP"  property="updateTime" />-->
    <!--<result column="create_user" jdbcType="VARCHAR"  property="createUser" />-->
    <!--<result column="update_user" jdbcType="VARCHAR"  property="updateUser" />-->
  </resultMap>

  <sql id="Customer_Column_List">
    t.id,t.template_id,t.row_no,t.row_span,t.col_no,t.col_span
  </sql>
  
  <select id="selectByParam" parameterType="map" resultMap="BaseResultMap">
      select <include refid="Customer_Column_List"></include> from t_screen_template_cellinfo t
      where 
      	t.template_id = #{templateId}
  </select>

</mapper>